@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

h1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.board{
    text-decoration: underline;
    text-align: center;
    position: relative;
}

.container .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
  }
  
  .container .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .container .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }